blessings==1.7
bpython==0.16
certifi==2019.9.11
chardet==3.0.4
curtsies==0.3.0
entrypoints==0.3
flake8==3.7.8
greenlet==0.4.15
idna==2.8
mccabe==0.6.1
mypy==0.740
mypy-extensions==0.4.3
numpy==1.18.1
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pytest==2.9.2
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
typing==3.7.4.1
typing-extensions==3.7.4
urllib3==1.25.6
wcwidth==0.1.7
